trigger:
  branches:
    include:
    - main
    - develop
    - test
  paths:
    include:
    - tests/**
    - playwright.config.ts
    - package.json

pr:
  branches:
    include:
    - main
    - develop

schedules:
- cron: "30 15 * * *"  # 9 PM IST (3:30 PM UTC)
  displayName: Nightly Playwright Tests
  branches:
    include:
    - main
  always: true

pool:
  vmImage: 'ubuntu-latest'

variables:
  NODE_VERSION: '20.x'
  CI: 'true'

stages:
- stage: Test
  displayName: 'Run Playwright Tests'
  jobs:
  - job: TestChromium
    displayName: 'Test on Chromium'
    steps:
    - template: templates/playwright-test-template.yml
      parameters:
        browser: 'chromium'
        
  - job: TestFirefox
    displayName: 'Test on Firefox'
    steps:
    - template: templates/playwright-test-template.yml
      parameters:
        browser: 'firefox'
        
  - job: TestWebKit
    displayName: 'Test on WebKit (Safari)'
    steps:
    - template: templates/playwright-test-template.yml
      parameters:
        browser: 'webkit'

- stage: PublishResults
  displayName: 'Publish Test Results'
  dependsOn: Test
  condition: always()
  jobs:
  - job: PublishReports
    displayName: 'Publish Test Reports'
    steps:
    - task: DownloadPipelineArtifact@2
      displayName: 'Download Test Results'
      inputs:
        buildType: 'current'
        artifactName: 'test-results'
        targetPath: '$(System.DefaultWorkingDirectory)/test-results'
      continueOnError: true
    
    - task: PublishTestResults@2
      displayName: 'Publish Test Results'
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: '**/test-results.xml'
        mergeTestResults: true
        failTaskOnFailedTests: true
        testRunTitle: 'Playwright Tests'
      condition: always()
    
    - task: PublishPipelineArtifact@1
      displayName: 'Publish HTML Report'
      inputs:
        targetPath: '$(System.DefaultWorkingDirectory)/playwright-report'
        artifact: 'playwright-html-report'
        publishLocation: 'pipeline'
      condition: always()
    
    - task: PublishCodeCoverageResults@1
      displayName: 'Publish Code Coverage'
      inputs:
        codeCoverageTool: 'Cobertura'
        summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml'
      condition: succeededOrFailed()
      continueOnError: true